---
import i18next, { t } from "i18next";
---

<div
  x-data="{ showAboutMe: false }"
  x-cloak
  class="grid grid-cols-1 my-8 px-10 xl:px-40 items-center justify-center mt-20 bg-slate-900 xl:flex xl:flex-row"
>
  <div class="py-9 m-auto text-center">
    <img
      src="https://ibb.co/ChdcNmy"
      alt="imagen de perfil"
      class="rounded-full"
    />
    <button
      aria-label="Descargar CV"
      class="bg-green-400 flex rounded-lg p-3 mt-8 text-slate-900 text-lg font-semibold font-custom mx-auto hover:bg-slate-800 hover:text-white transition-colors duration-1000"
    >
      <img src="../../assets/approved.png" alt="resume icon" class="mx-2" />
      <a
        href="https://mega.nz/file/Opg0VaBR#PktH0cQ0TZo_6H-JCxTVOetjgEdnGjsQJHSHJkVVVAs"
        target="_blank"
        download="federicorobledoCV.pdf">{t("about.button")}</a
      >
    </button>
  </div>
  <div
    class="w-full text-center mt-10 text-xl font-semibold font-custom xl:mx-8"
  >
    <div>
      <img
        src="../../assets/computer-desktop.png"
        alt="logo"
        class="hidden my-auto md:inline-block md:mx-8 ml-auto mb-5"
      />
    </div>
    <h1 class="text-5xl">Federico Robledo</h1>

    <h2 class="text-3xl my-8 text-green-400 text-center">
      Full Stack Developer
    </h2>
    <button class="mx-auto" @click="showAboutMe = !showAboutMe">
      <img src="../../assets/book.png" alt="tap" />
    </button>

    <p
      x-show="showAboutMe"
      x-cloak
      class="mt-12 text-left p-8 bg-transparent text-white"
    >
      {t("about.me")}
    </p>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");
</style>
