---
import i18next, { t } from "i18next";
---

<footer class="bg-slate-900 font-custom">
  <div class="py-10 px-5 m-auto w-full mt-10">
    <div class="text-3xl mb-6 text-center font-bold">
      <span class="text-green-500">{t("footer.head") + " "}</span>
      {t("footer.subhead")}!
    </div>
    <div>
      <img
        src="https://i.ibb.co/nbSvfVx/arrow.png"
        alt="arrow"
        class="mx-auto"
      />
    </div>
    <div class="mt-8">
      <div class="grid md:flex md:flex-wrap w-1/2 mx-auto justify-around">
        <input
          type="text"
          id="textToCopy"
          value="fedevfull@gmail.com"
          class="bg-transparent rounded-md w-full"
        />
        <div class="flex justify-center sm:justify-around w-full mt-8">
          <a
            href="mailto:fedevfull@gmail.com"
            aria-label="email"
            class="my-auto hover:bg-slate-800 p-4 rounded-xl"
          >
            <i class="fi fi-brands-google" id="google"></i>
          </a>
          <button
            type="button"
            id="copyButton"
            class="bg-transparent hover:bg-slate-800 p-4 rounded-xl"
          >
            <img src="https://i.ibb.co/pRzbqyk/copy.png" alt="copy" />
          </button>
        </div>

        <div
          id="customAlert"
          class="hidden fixed bottom-0 left0 w-full flex items-end justify-center px-4 py-6 sm:items-center sm:px-0 bg-transparent"
        >
          <div class="bg-slate-800 p-2 rounded shadow-lg">
            <p class="text-lg font-semibold text-green-500">Email copiado</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<style>
  @import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");
</style>
<script src="../copy.ts"></script>
