---
import i18next, { t } from "i18next";
---

<footer class="bg-slate-900 font-custom">
  <div class="py-10 px-5 m-auto w-full mt-10">
    <div class="text-3xl mb-6 text-center font-bold">
      <span class="text-green-500">{t("footer.head") + " "}</span>
      {t("footer.subhead")}!
    </div>

    <div class="mt-8">
      <div class="flex flex-wrap w-1/2 mx-auto justify-between">
        <a
          href="https://www.linkedin.com/in/federicorobledo13/"
          class="py-2 px-2 font-medium text-white"
        >
          <i class="fi fi-brands-linkedin" id="linkedin"></i>
        </a>
        <a
          href="https://github.com/FeDev13"
          class="py-2 px-2 font-medium text-white"
        >
          <i class="fi fi-brands-github" id="github"></i>
        </a>
        <a
          href="mailto:fedevfull@gmail.com"
          class="py-2 px-2 font-medium text-white"
        >
          <i class="fi fi-brands-google" id="google"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
<style>
  @import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");
  #linkedin {
    font-size: 32px;
  }
  #github {
    font-size: 32px;
  }
  #google {
    font-size: 32px;
  }
  .icon {
    margin: auto;
  }
</style>
