---
import Translator from "./Translator.astro";
import EstudioSoria from "./EstudioSoria.astro";
import GuitarShop from "./GuitarShop.astro";
import Ebook from "./Ebook.astro";
import TodoList from "./TodoList.astro";
import Kytoslanding from "./Kytoslanding.astro";
import Kytosweb from "./Kytosweb.astro";
---

<div x-data="{activeTab: 'personales'}" class="w-full mx-auto text-center mt-0">
  <h1 class="text-4xl font-bold my-32">Proyectos</h1>
  <div
    class="grid grid-cols-1 items-center justify-center my-5 w-1/2 lg:w-[10%] mx-auto"
  >
    <button
      class="bg-slate-800 rounded-lg p-3 mt-8 text-white text-xl font-semibold font-custom drop-shadow-[0px_35px_35px_rgba(39,245,131,0.6)]"
      aria-label="Boton proyectos personales"
      @click="activeTab = 'personales'">Personales</button
    >
    <button
      class="bg-slate-800 rounded-lg p-3 mt-8 text-white-400 text-xl font-semibold font-custom drop-shadow-[0px_35px_35px_rgba(39,245,131,0.6)]"
      aria-label="Boton proyectos laborales"
      @click="activeTab = 'laborales'">Laborales</button
    >
  </div>

  <div
    class="grid xl:grid-cols-2 gap-2 px-52 items-center justify-center"
    x-show="activeTab === 'personales'"
  >
    <Translator />
    <GuitarShop />
    <Ebook />
    <TodoList />
  </div>
  <div
    class="grid xl:grid-cols-2 gap-2 px-52 items-center justify-center"
    x-show="activeTab === 'laborales'"
  >
    <Kytosweb />
    <EstudioSoria />
    <Kytoslanding />
  </div>
</div>
