---
import Translator from "./Translator.astro";
import EstudioSoria from "./EstudioSoria.astro";
import GuitarShop from "./GuitarShop.astro";
---

<div class="w-full mx-auto text-center">
  <h1 class="text-5xl my-32">Projectos</h1>
  <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-2 p-10">
    <Translator />
    <EstudioSoria />
    <GuitarShop />
  </div>
</div>
