---
import Translator from "./Translator.astro";
import EstudioSoria from "./EstudioSoria.astro";
import GuitarShop from "./GuitarShop.astro";
import Ebook from "./Ebook.astro";
import TodoList from "./TodoList.astro";
import Kytoslanding from "./Kytoslanding.astro";
import Kytosweb from "./Kytosweb.astro"
---

<div class="w-full mx-auto text-center">
  <h1 class="text-3xl font-bold my-32">Proyectos</h1>
  <div class="grid sm:grid-cols-2 gap-2 px-52">
    <Translator />
    <EstudioSoria />
    <GuitarShop />
    <Ebook />
    <TodoList />
    <Kytoslanding />
    <Kytosweb />
  </div>
</div>
