<div class="p-8">
  <section
    class="text-3xl rounded-xl text-center md:w-full xl:w-1/2 mx-auto drop-shadow-[0px_35px_35px_rgba(39,245,131,0.6)]"
  >
    <div class="flex justify-center">
      <img src="https://i.ibb.co/7rqhx1y/coding.png" />
      <h3 class="text-4xl font-bold">Skills</h3>
    </div>

    <div
      class="flex flex-wrap w-full border-neutral-50z p-8"
      id="pulse-container"
    >
      <img
        src="https://i.ibb.co/J7HhgYR/html-5.png"
        alt="html-5"
        class="w-[20%] h-[20%] md:w-[10%] md:h-[10%] mx-auto"
      />
      <img
        src="https://i.ibb.co/3BVvt5f/css-3.png"
        alt="css-3"
        class="w-[30%] h-[30%] md:w-[10%] md:h-[10%] mx-auto"
      />
      <img
        src="https://i.ibb.co/XXtn9J3/java-script.png"
        class="w-[30%] h-[30%] md:w-[10%] md:h-[10%] mx-auto"
      />
      <img
        class="w-[30%] h-[30%] md:w-[10%] md:h-[10%] mx-auto"
        src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ffreebiesupply.com%2Flogos%2Freact-logo-2%2F&psig=AOvVaw2jKL4CAhZJNDXPPEwEHZeR&ust=1712247984868000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKD97IG7poUDFQAAAAAdAAAAABAO"
        alt=""
      />
      <img
        src="https://i.ibb.co/jTLjM2b/tailwind.png"
        class="w-[30%] h-[30%] md:w-[10%] md:h-[10%] mx-auto"
      />
      <img
        src="https://i.ibb.co/n1xY6gC/php.png"
        class="w-[30%] h-[30%] md:w-[10%] md:h-[10%] mx-auto"
      />
      <img
        src="https://i.ibb.co/k9Grgz2/angulart.png"
        class="w-[30%] h-[30%] md:w-[10%] md:h-[10%] mx-auto"
      />
      <img
        src="https://i.ibb.co/NsZ0pPx/gitnew.png"
        class="w-[30%] h-[30%] md:w-[10%] md:h-[10%] mx-auto"
      />
      <img
        src="https://i.ibb.co/vHbRtWm/trans.png"
        class="w-[30%] h-[30%] md:w-[10%] md:h-[10%] mx-auto bg-transparent"
      />
      <img
        src="https://i.ibb.co/GPzc1Wq/sql.png"
        class="w-[30%] h-[30%] md:w-[20%] md:h-[20%] mx-auto bg-transparent"
      />
    </div>
  </section>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");
  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

  #pulse-container {
    display: flex;
    width: auto;
    height: auto;
    background-color: transparent;

    margin: 50px;
    animation: pulse 3s 1;
    padding: 8;
  }
</style>
